header {
    background-color: #581845;
    font-family: 'Courier New', Courier, monospace;
    /* outline: red dashed 1px; */
}

h1{
    color: white;
    text-align: end;
    font-size: 50px;
    padding-bottom: 0%;
    border-bottom: 0%;
    /* outline: red dashed 1px; */
}

ul {
    display: flex;
    flex: row;
    /*outline: red dashed 1px;*/
}

h2 {
    margin: 5px;
    padding: 5px;
    border: 5px;
    /*outline: red dashed 1px;*/
}

nav {
    /* outline: red dashed 1px; */
}

body {
    background-color: #1E0028;
    /* outline: red dashed 1px; */
}

aside {
    background-color: #C5FFFE;
    color: black;
    width: 33vw;
    /* outline: red dashed 1px; */
}

h3,
figure,
p {
    display: flex;
    justify-content: end;
}

p {
    padding: 10px;
    margin: 10px;
    border: 10px;
}

#link {
    color: aquamarine;
    margin: 50px;
    /* outline: red dashed 1px; */
}

.me {
    width: 10%;
    height: 12%;
    /* outline: red dashed 1px; */    
}

/* .first-application {
    /* outline: red dashed 1px;
}

/* .project-2 {
    /* outline: red dashed 1px;    
} */

/* .project-3 {
    /* outline: red dashed 1px;   
} */

/* .collaborative-projects {
    /* outline: red dashed 1px;     
} */

footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
    justify-content:baseline;
    outline: red dashed 1px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw;
}

.pic-1 {
    background-image: url("./images/first-application.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-2 {
    background-image: url("./images/first-application.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-3 {
    background-image: url("./images/first-application.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-4 {
    background-image: url("./images/first-application.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}