header {
    background-color: #581845;
    font-family: 'Courier New', Courier, monospace;
    /* outline: red dashed 1px; */
}

h1{
    color: white;
    text-align: end;
    font-size: 50px;
    padding-bottom: 0%;
    border-bottom: 0%;
    /* outline: red dashed 1px; */
}

ul {
    display: flex;
    flex: row;
}

h2 {
    margin: 5px;
    padding: 5px;
    border: 5px;
    /*outline: red dashed 1px;*/
}

nav {
    /* outline: red dashed 1px; */
}

body {
    background-color: #1E0028;
    color: white;
    /* outline: red dashed 1px; */
}

aside {
    background-color: #C5FFFE;
    color: black;
    /* outline: red dashed 1px; */
}

#link {
    color: aquamarine;
    /* outline: red dashed 1px; */
}

.me {
    width: 10%;
    height: 12%;
    /* outline: red dashed 1px; */    
}

.first-application {
    width: 12%;
    height: 10%;
    /* outline: red dashed 1px; */
}

.project-2 {
    width: 13%;
    height: 10%;
    /* outline: red dashed 1px; */    
}

.project-3 {
    width: 14%;
    height: 10%;
    /* outline: red dashed 1px; */    
}

.collaborative-projects {
    width: 12%;
    height: 10%;
    /* outline: red dashed 1px; */    
}