header {
    background-color: #581845;
    font-family: 'Courier New', Courier, monospace;
    /* outline: red dashed 1px; */
}

h1{
    color: white;
    font-size: 50px;
    margin-right: 15px;
    padding-top: 5px;
    /* outline: red dashed 1px;  */
    display: flex;
    justify-content: flex-end;
}

.navigation {
    display: flex;
    flex: row;
    justify-content: flex-start;
    /*outline: red dashed 1px;*/
}

h2 {
    background-color: #C5FFFE;
    color: black;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    border: 5px;
    /*outline: red dashed 1px;*/
}

nav {
    /* outline: red dashed 1px; */
}

body {
    background-color: #1E0028;
    font-family: 'Courier New', Courier, monospace;
    /* outline: red dashed 1px; */
}

.about-me {
    background-color: #2cb8b5;
    opacity: .5;
    color: black;
    width: 33vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 10px;
    margin-bottom: 0px;
    /* outline: red dashed 1px; */
}

.bio {
    padding: 10px;
    margin: 0;
    border: 10px;
    text-align: center;
}

#link {
    color: aquamarine;
    margin: 50px;
    /* outline: red dashed 1px; */
}

.me {
    width: 300px;
    height: 400px;
    /* outline: red dashed 1px; */    
}

article {
    background-color: #3c9b99;
}

h3,
h4 {
    font-size: 30px;
    margin: 20px;
}

/* .first-application {
    /* outline: red dashed 1px;
}

/* .project-2 {
    /* outline: red dashed 1px;    
} */

/* .project-3 {
    /* outline: red dashed 1px;   
} */

/* .collaborative-projects {
    /* outline: red dashed 1px;     
} */

footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
    /* outline: red dashed 1px; */
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw;
}

.pic-1 {
    background-image: url("./images/first-application.jpg");
    width: 500px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-2 {
    background-image: url("./images/project-2.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-3 {
    background-image: url("./images/project-3.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic-4 {
    background-image: url("./images/collaborative-projects.jpg");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.first-application,
.project-2,
.project-3,
.collaborative-projects {
    font-size: 30px;
    background-color: white;
    color: black;
    opacity: .5; 
    display: flex;
    justify-content: flex-end;   
}

h5{
    font-size: 25px;
    margin: 20px;
    padding-top: 10px;
}

h6 {
    font-size: 25px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.resume,
.contact-me {
    background-color: black;
    color: #3c9b99;
}

.footnote {
    color: aliceblue;
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:994px) {
    .main-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .about-me {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        padding-right: 10px;
        margin-bottom: 0px;
        /* outline: red dashed 1px; */
    }
    h4 {
        align-self: center;
    }
    .work-flex {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;        
        margin-top: 20px;
    }
        /* keep adding to this possibly, maybe make another one....definitely make another one. */
}

